@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Student/GetAll" class="btn btn-success">GetAll</a></li>
                <li><a href="/Student/Create" class="btn btn-success">Create</a></li>
                <li><a href="/Student/Update" class="btn btn-success">Update</a></li>
                <li><a href="/Student/Delete" class="btn btn-success">Delete</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="content">
            Update Student
        </section>
    </main>

    <footer class="bg-secondary text-center">
        this is footer
    </footer>
</body>
</html>
